<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UMBC Schedule Synthetizer</title>
</head>

<body>
    <h1>Login</h1>
    <form class="site-form" action="{% url 'login' %}" method="post">
        {%csrf_token %}
        {{ form }}
        <input type="submit"  value="login">
        <a href="{% url 'signup' %}">
            <input type="button" value="Sign up" />
        </a>
        <a href="{% url 'signup' %}">
            <input type="button" value="Forgot Password"ß />
        </a>
    </form>



</body>
</html>