body {
    height: 100%;
    align-items: center;
}

	.form-forgotPassword {
		width: 30%;
    	max-width: 800px;
    	padding: 65px;
    	margin-left: 600px;
    	margin-top: 150px;
    	background: #ffc107;
    	border-radius: 10px;
	}

	.form-forgotPassword .form-floating:focus-within {
		  z-index: 2;
	}

	.form-forgotPassword input[type="email"] {
	  margin-bottom: 15px;
	  border-radius: 15px;
	}

	.display-6{
		font-size: xxx-large;
		text-align: center;
	}

    p{
        color: gray;
        text-align: center;
        font-size: small;
    }
	.button{
margin-bottom: 10px;
    background-color: black;
    border-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 40%;
    padding: .3rem 1rem;
    font-size: 1.25rem;
    border-radius: 15px;
    cursor: pointer;
    text-transform: none;
    box-sizing: border-box;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    margin-left:110px;
	}