<!DOCTYPE html>
<!doctype html>{% load static %}

<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" >
          <h3 >UMBC Syllabus Synthesizer </h3>
        </ul>

        <div class="text-end">
            <a href="{% url 'login:logout_view' %}" class="btn btn-outline-light me-2">Logout</a>
            <a href="{% url 'homepage:index' %}" class="btn btn-warning">Home</a>
        </div>
      </div>
    </div>
  </header>
<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2"><b>Syllabus Wizard </b></h1>
          <hr class="mt-0 mb-4">
        <p>Did not find a syllabus for {{course_name}} </p>
        <div class="form-group">
{% comment %} <p class="text-center">If you would like to import data from an existing syllabus, please enter the course below</p> {% endcomment %}
<form method="post" action=".">
{% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary" name="no" id="no">Go back to search</button>   
                <button type="submit" class="btn btn-outline-secondary" name="goto" id="goto">Go directly to Wizard</button>    
</form>  
</div>
</div>
</div>
</body>
</br></br>



<body>
<div style="width: 100%;">
        <div class="form-group">
            {% comment %} <form method="post" action="."> {% endcomment %}
                {% comment %} {% csrf_token %} {% endcomment %}
                {% comment %} {{ form.as_p }} {% endcomment %}
                {% comment %} <button type="submit" class="btn btn-success btn-sm" name="search" id="search">Search for existing syllabi</button>    {% endcomment %}
                {% comment %} <button type="submit" class="btn btn-success btn-sm" name="goto" id="goto">Go to Wizard</button>    {% endcomment %}

            {% comment %} </form> {% endcomment %}
        </div>
    </div>
    </div>
</body>